.button__ref{
 	background-image: url('../img/home/ico-shape.svg') ;
	background-repeat: no-repeat;
	background-position: 75%;
	padding: 30px 79px 30px 55px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	transition: all 0.5s ease 0s;
 &:hover{
  transform:scale(1.05);
 }
 }